        h1 {
            text-align: center;
            font-size: 32px;
            position: relative;
            opacity: 1;
        }

        @keyframes DropIn {
            from {
                transform: translateY(-300px);
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        h2 {
            text-align: center;
            font-size: 25px;
        }
        main {
            text-align: center;
            font-size: 18px;
            padding: 18px;
            color: black;
            image-rendering: pixelated;
        }
        
        footer {
            position:relative;
            bottom: 0;
            left: 0;
            width: 100%;
            color: black;
            text-align: center;
            padding: 10px;
        }
        
        body {
            background-color: #e3ffe5;
            font-family:Georgia, 'Times New Roman', Times, serif;
            background-image: url('https://i.pinimg.com/736x/8d/d9/b6/8dd9b6e70ab1a43414c7450b6fc0f044.jpg'); /* Path to your image */
            background-size: cover; /* Ensures the image covers the entire screen */
            background-position: center; /* Centers the image */
            background-attachment: fixed; /* Makes the image fixed when scrolling */
            height: 100vh; /* Ensures the background covers the entire height of the viewport */
            margin: 0;
        }

        .button {
            display: inline-block;
            background-color: #e3ffe5;
            color: black;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 20px;
            font-size: 16px;
            transition: 0.5s;
            flex: 1; /* Allow buttons to take equal space */
            margin: 5px; /* Add spacing between buttons */
            text-align: center; /* Center text inside buttons */
            box-shadow:  -6px 5px 5px rgba(0,0,0,0.4); /* Add shadow for depth */
            border: 5px solid green;
            animation: DropIn 1s ease forwards; /* Animation for button appearance */   
        }

        .button:hover {
            background-color: #22aa50;
            color: black;
            border: 2px solid green;
        
        }

        .red_button {
            background-color: rgb(255, 175, 175);
            display: inline-block;
            color: black;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 20px;
            font-size: 16px;
            transition: 0.5s;
            flex: 1; /* Allow buttons to take equal space */
            margin: 5px; /* Add spacing between buttons */
            text-align: center; /* Center text inside buttons */
            box-shadow:  -6px 5px 5px rgba(0,0,0,0.4); /* Add shadow for depth */
            border: 5px solid red;
            animation: DropIn 1s ease forwards;
        }

        .red_button:hover {
            background-color: rgb(255, 101, 101);
            color: black;
            border: 2px solid red;
        
        }

        .navbar {
            background-color: none;
            padding: 10px 20px;
            display: flex;
            align-items:left;
            
        }

        .navbar a {
            color: black;
            text-decoration: none;
            padding: 14px 20px;
            display: inline-block;
            animation: DropIn 1s ease forwards; /* Animation for navbar links */

        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
            min-height: 160px;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            animation: none;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
            color: black;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .home-button {
            text-decoration: none;
            background-color: none;
            color: black;
            padding: 10px 20px;
            border-radius: 0px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }

        .home-button:hover {
            background-color: #ffeb9a;
            color: black;
        }
        .other-button {
            text-decoration: none;
            background-color: none;
            color: black;
            padding: 10px 20px;
            border-radius: 0px;
            font-size: 16px;
            font-weight: normal;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }
        .other-button:hover {
            background-color: #ffeb9a;
            color: black;
        }

        .game-button {
            text-decoration: none;
            background-color: none;
            color: #e3ffe5;
            padding: 10px 20px;
            border-radius: 0px;
            font-size: 16px;
            font-weight: normal;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }
        
        .game-button:hover {
            background-color: #ffeb9a;
            color: black;
        }

        .top-button {
            text-decoration: none;
            color: black;
            padding: 10px 20px;
            border-radius: 0px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            background-color: none;
        }
        .top-button:hover {
            background-color: none;
            color: black;
        }
        
        .study-guide-box {
            border: 2px solid black;
            padding: 20px;
            margin: 20px auto;
            display: flex;
            justify-content: space-between; /* Align buttons to the left and right */
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 40px;
            flex-wrap: wrap;
        }

        .chat-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-image: url('/Leo-s-Study-Guides.github.io/Resources/message_icon.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: white;
            border: none;
            border-radius: 26%;
            width: 50px;
            height: 50px;
            font-size: 30px;
            cursor: pointer;
            box-shadow:  -6px 5px 5px rgba(0,0,0,0.4);
            transition: background-image 0.3s ease;
            z-index: 1000; /* Ensure the button is above other elements */
        }

        .chat-button:hover {
            background-image: url('https://pianoleo1.github.io/Leo-s-Study-Guides.github.io/Resources/message_icon_onclick.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: white;
            border: none;
            border-radius: 26%;
            width: 50px;
            height: 50px;
            font-size: 30px;
            cursor: pointer;
            box-shadow:  -6px 5px 5px rgba(0,0,0,0.4);
            transition: background-image 0.3s ease;
            z-index: 1000; /* Ensure the button is above other elements */
        }
        
        .u32 {
            font-size: 32px;
        }

        .u33 {
            font-size: 33px;
        }  
        .u34 {
            font-size: 34px;
        }
        .u35 {
            font-size: 35px;
        }
        .u36 {
            font-size: 36px;
        }
        .u37 {
            font-size: 37px;
        }
        .u38 {
            font-size: 38px;
        }
