<!DOCType html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <!-- KaTeX CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">

  <!-- KaTeX JS -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>

  <!-- Auto-render extension -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
          onload="renderMathInElement(document.body);"></script>
    
    <style class="anchorjs"></style>
    <link rel="stylesheet" href="/Leo-s-Study-Guides.github.io/assets/css/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="/www.googletagmanager.com/gtag/js?id=G-0B2RL00V6Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0B2RL00V6Q');
    </script>
    <link rel="icon" href="https://www.pianoleo1.github.io/Leo-s-Study-Guides.github.io/Resources/favicon.ico">
    {% seo %}
</head>
<body>
  {% content %}
</body>