<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0B2RL00V6Q"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0B2RL00V6Q');
    </script>
    <title>{{ page.title }}</title>
    <link rel="icon" href="/Leo-s-Study-Guides.github.io/favicon.ico">
    {{ head }}
</head>
<body>
    {{ content }}
</body>
<footer>
    <p>Leo's Study Guides - Made by Leo</p>
</footer>
<button class="chat-button" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=hz8409%40pleasantonusd.net&authuser=0', '_blank')"></button>
</html>